

<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/kavi.jpg" alt="profile" width="200" height="200" class="rounded-circle">
                <p>I am Kaviya K.I am currently pursuing my final year of B.E. in Computer Science and Engineering. I am also working as a Web Development intern at ChainSys, Madurai.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featured.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let pic of featured.pictures">
                    <slide><img src={{pic}} alt="1" style="display: block;width: 100%;"></slide>
                </div>
            </carousel>
            <p style="text-align: center;">{{featured.summary}}</p>
            <p style=text-align:center;>
                <a href="http://localhost:4200/portfolio" target="_blank">Visit the Portfolio Section to learn more!
                </a>
                </p>
        </div>
    </div>
</div>
